
.app {
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: -webkit-image-set(url(/assets/cursors/cursor.png) 1x,url(/assets/cursors/cursor@2x.png) 2x) 0 0,default;
}
button, .click, a {
  cursor:-webkit-image-set(url(/assets/cursors/cursorButton.png) 1x,url(/assets/cursors/cursorButton@2x.png) 2x) 0 0,pointer;
}
input {
  cursor:-webkit-image-set(url(/assets/cursors/cursorInput.png) 1x,url(/assets/cursors/cursorInput@2x.png) 2x) 0 0,pointer;
}

.hide {
  display: none !important;
}

.hide-opacity {
  opacity: 0 !important;
  pointer-events: none;
}

.show-opacity {
  opacity: 1 !important;
}

.busy {
  opacity: 0.6;
  pointer-events: none;
}
