@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

::selection {
  background: #FFF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF; /* Gecko Browsers */
}

body {
  background: #003EFF;
  font-family: 'Fredoka One', cursive;
  outline: none;
  text-align: center;
  width: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
